.mar_sm_y_1_5 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#experiences .head_right p {
    font-family: Archivo Narrow;
    font-size: 3rem;
    font-weight: 700;
    color: rgba(86, 65, 150, 0.1);
    margin: 0;
}

.client_log_img {
    width: 350px;
    height: auto;
}

.extra-bor1 {
    border: 5px solid #845ec2;
}

.extra-bor::before,
.extra-bor::after {
    content: none;
    /* Remove the pseudo-elements */
}

.extra-bor {
    padding-right: 0;
    /* Adjust padding if needed */
    gap: 0;
    /* Reset gap */
}